body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
}

table {
  border-collapse: collapse;
  margin-top: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
}

th,
td {
  padding: 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #3a6fa3; /* Light shade blue color with linear gradient */
  color: #fff;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #ddd;
}

.view-application {
  display: inline-block;
  padding: 6px 15px;
  background-color: #4caf50;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  cursor: pointer;
}

.action-icons {
  display: flex;
  justify-content: space-around;
}

.image_action {
  cursor: pointer;
}

.action-icons a {
  margin: 0 5px;
  color: #555;
  text-decoration: none;
}

.display_flex {
  display: flex;
  justify-content: center;
}

/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #000;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

/* Tooltip text arrow */
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #000 transparent transparent transparent;
}

/* Show the tooltip text when hovering on the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.empty_info_image {
  width: 200%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}

.empty_info_image > img {
  width: 60%;
  height: 60%;
  object-fit: contain;
}

.info_text {
  margin-top: 2rem;
  font-weight: 700;
  font-size: 22px;
}

.info_sub_text {
  font-size: 15px;
}
